@page "/admin/product-type"
@inject IProductTypeService ProductTypeService

<h3>ProductTypes</h3>

@foreach (var productType in ProductTypeService.ProductTypes)
{
    @if (productType.Editing)
    {
        
    }
    else
    {
        <div class="row">
            <div class="col">
                @productType.Name
            </div>
            <div class="col">
                <button class=" btn btn-primary" @onclick="@(() => EditProductType(productType))">
                    <i class="oi oi-pencil"></i>
                </button>
            </div>
        </div>
    }
}

@code {
    ProductType editingProductTypes = null;

    protected override async Task OnInitializedAsync()
    {
        await ProductTypeService.GetProductTypes();
    }

    private void EditProductType(ProductType productType)
    {
        productType.Editing = true;
        editingProductTypes = productType;
    }

    private void CreateNewProductType()
    {
        
    }

    private void UpdateProductType()
    {

    }
}
